asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.2.1
dj-database-url==3.0.1
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
gunicorn==23.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.1
sqlparse==0.5.3
urllib3==2.3.0
whitenoise==6.9.0
